name: Public Plugin

permissions:
  contents: write

on:
  release:
    types: [published]
  push:
    tags:
      - "*" # 匹配所有 Tag

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Build
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        shell: pwsh
        run: |
          Write-Host "Repo name from github.event.repository.name: $env:REPO_NAME"
          dotnet build ".\$env:REPO_NAME\$env:REPO_NAME.csproj" --configuration Release --no-incremental --force

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          body_path: CHANGELOG.md
          draft: false
          files: |
            ./.artifacts/plugins/*.spkg
